<footer style="background:#222; color:#fff; padding:20px; text-align:center; margin-top:40px;">
  <p>&copy; <%= new Date().getFullYear() %> Mi Aplicación. Todos los derechos reservados.</p>
</footer>
<!--Importar JS desde public-->
<script src="/js/bootstrap.min.js"></script>

</body>

</html>